@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

 body {
    font-family: "Monaco", monospace !important;
    background-color: gainsboro;
    margin:0;
}

.main-container{
    display:flex;
    margin-top: -100px;
    flex-wrap: wrap;
    justify-content: center;
}
.content-container{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.banner{
    background-color: black;
    background-image: url("https://wallpaperaccess.com/full/463550.jpg");
    background-position: top left, center center;
    background-repeat: no-repeat;
    padding-top: 10px;;
    padding-bottom: 350px;

}


.navbar{
    display:  flex;
    flex-wrap: wrap;
}

.navbar-item{
    height: 25px;
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    min-width: 125px;
    margin-bottom:10px ;
}


.navbar-item:hover{
    background-color: gray; 
}

.navbar-item {
    text-decoration: none;
    color: white;
} 

.pointer:hover{
    cursor: pointer;
}

@media only screen and (max-width:500px) {
    .main-container{
        margin-top: -250px !important;
    }
    
}

